<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="about-container">
    <div class="main-content">
        {{>header}}
        <div id="about-content">
            <img class="portrait" src="/img/node.png" alt="nodejs logo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare ultricies neque, eget eleifend justo tempor et. Praesent volutpat fermentum libero, a accumsan est. Curabitur sodales dapibus purus mattis blandit. Donec suscipit, augue ac vulputate auctor, est ante dapibus nunc, eu laoreet dui mi a nulla. Duis porttitor orci ac magna iaculis, in cursus odio tempus. Pellentesque hendrerit eleifend aliquet. Curabitur mollis at mauris quis pellentesque. Aenean felis eros, convallis sed urna in, feugiat consequat eros. Vestibulum viverra lacus nisl, nec porta nisl fringilla sit amet. Curabitur convallis, urna porttitor vestibulum mattis, elit erat ultricies erat, ut efficitur justo elit eget massa.</p>
        </div>
    </div>
</body>
</html>