<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="index-container">
    <div class="main-content">
        {{>header}}
        <div id="global-informations-container">
            <div id="global-informations">
                <p id="forecast-msg">Light Snow, Mist</p>
                <p id="temperature-msg">-3°C</p>
            </div>
            <p id="city-msg">Pékin</p>
        </div>
        <img id="flag-img">
        <div>
            <p id="error-msg"></p>
            <form>
                <input placeholder="Location" type="text">
                <button>Search</button>
            </form>
        </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>